<!--
  @brief
  「HOME」タブ内の親ページ
-->
<p>
Welcome to your PURL administrator interface. <br>

PURLs (<strong>P</strong>ersistent <strong>U</strong>niform <strong>R</strong>esource <strong>L</strong>ocators) are Web addresses that act as permanent identifiers in the face of a dynamic and changing Web infrastructure. Instead of resolving directly to Web resources, PURLs provide a level of indirection that allows the underlying Web addresses of resources to change over time without negatively affecting systems that depend on them. This capability provides continuity of references to network resources that may migrate from machine to machine for business, social or technical reasons.
<br>
This application have been developed  by Science & Technology Systems, Inc at the request of Japan Science and Technology Agency (JST).
</p>
